
  <md-card-title>{{title}}</md-card-title>
  <md-card-subtitle>{{subtitle}}</md-card-subtitle>
  <md-divider></md-divider>

<sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.title, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <div>Name: <strong>{{m.display_name}}</strong></div>
          <div>Title: <strong>{{m.title}}</strong></div>
          <div>State: <strong>{{m.region}}</strong></div>
          <div>Sales: <strong>{{m.sales}}</strong></div>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>

      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>

    </sebm-google-map>
